body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom right, #1c1c1c, #333);
    padding: 20px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.5); 
    backdrop-filter: blur(10px); 
    color: white;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav .logo img {
    width: 90px;
    height: auto;
    margin-right: 20px;
}

div[class^="img"] {
    text-align: center;
    margin: 20px auto;
    max-width: 90%;
    position: relative;
}

div[class^="img"] img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 10px solid white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    margin: 0 auto;
}

div[class^="img"] img:hover {
    background-color: #e64a19;
    transform: scale(1.05);
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h1 {
    font-size: 2vw;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4vw;
    }
    nav {
        flex-direction: column;
        text-align: center;
    }
    div[class^="img"] {
        max-width: 100%;
    }
}

.circle1, .circle2, .circle3, .circle4 {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.circle1 { width: 20px; height: 20px; top: 90%; left: 75%; }
.circle2 { width: 20px; height: 20px; top: 90%; left: 78%; }
.circle3 { width: 25px; height: 25px; top: 90%; left: 81%; }
.circle4 { width: 20px; height: 20px; top: 90%; left: 84%; }

@media (max-width: 768px) {
    .circle1, .circle2, .circle3, .circle4 {
        display: none;
    }
}
